/* Resets */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]){
  display: none;
  height:0;
}
[hidden],
template {
  display: none;
}
html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
}
a{
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin:.67em 0;
}
abbr[title]{
  border-bottom: 1px dotted;
}
b,
strongc{
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  height: 0;
}
mark {
  background: #ff0;
  color:#000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes:'\201C' '\201D' '\2018' '\2019'
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height:0;
  position: relative;
  vertical-align: baseline;
}
sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  clear: both;
  content: "";
  display: table;
}


/* ./Resets */

/* Global */
@font-face {
  font-family: "SanFrancisco";
  src: url(fonts/sanfranciscodisplay-regular-webfont.woff2) format("woff2"),
    url(fonts/sanfranciscodisplay-regular-webfont.woff) format("woff"),
    url(fonts/sanfranciscodisplay-regular-webfont.ttf) format("truetype"),
    url(fonts/sanfranciscodisplay-regular-webfont.svg) format("svg"),
    url(fonts/sanfranciscodisplay-regular-webfont.eot) format("eot");
}
body {
  background: #1e1f22;
  color: #fff;
  font-family: "SanFrancisco", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-rendering: optimizeLegibility;
}
a {
  color: #00b4f8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a span[class=screen-reader-text] {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
/* ./Global */

/* Header */
header {
  background: #313236;
  font-size: 1.25em;
}
header a {
  color: #fff;
  text-decoration: none;
}
nav {
  margin: 0;
  padding: .15em;
  text-align: center;
}
nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  font-weight: normal;
  padding: .5em 1.25em;
}
nav a {
  color: #fff;
  text-decoration: none;
}
.menu-bars {
  display: none;
}
/* ./Header */

/* Footer */
footer {
  padding-bottom: 2em;
}
footer ul {
  margin: 0;
  text-align: center;
}
footer li {
  color: #fff;
  display: inline-block;
  font-size: .75em;
  padding: 0 .5em;
}
footer li:first-child {
  margin-right: 1em;
}
/* ./Footer */

main {
  background: #1e1f22;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 auto;
  max-width: 100%;
  padding: 1.25em;
}
.container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

/* Grid */
.row {
  margin: 1.5em 0 2em;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: .75em;
}
/* ./Grid */

h1 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0 0 .5em;
}
p {
  font-size: .95em;
  margin: .75em 0 0;
}
.image {
  background-color: #999;
  background-position: center center;
  background-size: cover;
  border: 1px solid #000;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.75);
  display: table-cell;
  height: 140px;
  width: 300px;
}
.nightsky {
  background-image: url("../img/nightsky.png");
}
.concert-hands {
  background-image: url("../img/concert-hands.png");
}
.guitar-amp {
  background-image: url("../img/guitar-amp.png");
}
.musician-desert {
  background-image: url("../img/musician-desert.png");
}

/* Top Songs */
.top-songs {
  margin-top: 1em;
}
.top-songs h1 {
  border-bottom: 1px solid #666;
  padding-bottom: .5em;
}
.top-songs .row {
  margin: 0 0 .4em;
}
.top-songs img {
  border-radius: 50%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
  height: 45px;
  vertical-align: middle;
  width: 45px;
}
.cover {
  margin-right: 10px;
  padding: 0;
  width: auto;
}
.artist {
  margin-bottom: .75em;
  padding: 0;
}
.artist p {
  margin: 0 0 .25em;;
}
.artist .album {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.expand {
  display: none;
}
/* ./Top Songs */

/* SVG icons */
.chevron-down,
.chevron-up {
  display: inline-block;
  height: 16px;
  width: 16px;
}
.chevron-down {
  background: url(../img/svg/chevron-arrow-down.svg) no-repeat;
  background-size: 16px 16px;
}
.chevron-up {
  background: url(../img/svg/chevron-arrow-up.svg) no-repeat;
  background-size: 16px 16px;
}
.bars,
.magnifying-glass {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}
.bars {
  background: url(../img/svg/menu-bars.svg) no-repeat;
  background-size: 20px 20px;
}
.magnifying-glass {
  background: url(../img/svg/magnifying-glass.svg) no-repeat;
  background-size: 20px 20px;
}

@media all and (min-width: 601px) {
  .col-2-3 {
    float: left;
    width: 66.66%;
  }
  .col-1-2 {
    float: left;
    width: 50%;
  }
  .col-1-3 {
    float: left;
    padding-left: 2.5em;
    width: 33.33%;
  }
  .col-1-4 {
    float: left;
    width: auto;
  }
}

@media all and (max-width: 850px) {
  main {
    padding: 0;
  }
  .col-2-3 {
    width: 100%
  }
  .top-songs {
    background: #111;
    float: left;
    height: 260px;
    margin-top: 1em;
    overflow: hidden;
    padding: 0;
    width: 100%;
  }
  .top-songs .col-2-3 {
    width: 75%;
  }
  .top-songs.active {
    height: auto;
    padding-bottom: 0;
  }
  .top-songs .row {
    margin: .5em .5em 0;
  }
  .expand {
    background: #111;
    display: block;
    float: left;
    padding: 2em 0;
    text-align: center;
    width: 100%;
  }
  footer {
    padding-bottom: .75em;
  }
  footer ul {
    padding: 3em;
  }
  footer li {
    display: block;
    padding: .5em;
  }
}

@media all and (max-width: 650px) {
  nav {
    padding: 0;
  }
  .menu-bars {
    display: inline-block;
    float: left;
  }
  .desktop {
    display: none;
    float: right;
  }
  .desktop.active {
    display: block;
    width: 100%;
  }
  .desktop.active li {
    border-bottom: 1px solid #666;
    display: block;
  }
  .desktop.active li a {
    display: table;
  }
  .search {
    display: inline-block;
    float: right;
    position: absolute;
    right: 0;
  }
}

@media all and (max-width: 600px) {
  main {
    margin: .5em;
  }
  [class*=col-] {
    padding: 0;
  }
  .col-1-4 {
    float: left;
    width: auto;
  }
  .top-songs {
    background: #111;
    height: 290px;
    width: 100%;
  }
  h1 {
    font-size: 1.5em;
    margin: 1.25em 1em 1em;
  }
  p {
    font-size: 1.15em;
    margin: .5em 1em 2em;
  }
  .image {
    height: 187px;
    width: 400px;
  }
}