* {
  box-sizing: border-box;
  &:before {
    box-sizing: border-box;
  }
  &:after {
    box-sizing: border-box;
  }
}

body {
  background: #1e1f22;
  color: #fff;
  font-family: $sanFrancisco, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-rendering: optimizeLegibility;
}
a {
  color: $skyblue;
  text-decoration: none;
  :hover {
    text-decoration: underline;
  }
  span[class=screen-reader-text] {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
}

//image urls
$nightsky: url("../img/nightsky.png");
$concert-hands: url("../img/concert-hands.png");
$guitar-amp: url("../img/guitar-amp.png");
$musician-desert: url("../img/musician-desert.png");